.profile__job {
  margin: 7.5px auto 34.25px;
  max-width: 190px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 980px) {
  .profile__job {
    margin: 7px auto auto 0;
    max-width: 294px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__job {
    font-size: 18px;
    line-height: 22px;
  }
}