.header__link {

    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-align: right;
    align-self: center;
    color: #FFF;
}

@media screen and (min-width: 620px) {
    .header__link {
        font-size: 18px;
        line-height: 22px;
    }
}